/*core styles*/
@font-face {
    font-family: superstarX;
    src: url(media/Superstar.otf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(media/background.png);
}
main, footer{
 text-align: center;
 margin:0;
 color: white;
 font-family: sans-serif,superstarX,Helvetica;
 font-size: 1.1em;
 line-height: 1.5;
}
h1,h2,h3{
  margin:0;
  font-family: superstarX;
  padding: 1.25em 0;
  
}
h2{
  font-size: xX-large;
}
p{
  margin: 0;
  padding: 1em 0;
  text-align: justify;
  text-align-last: center;
}
main img{
  display: block;
  width: 100%;
  height: auto;
}
nav{
    background: #30302f;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
footer{
  background: #30302f;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
main section{
  padding: 2em;
}
.content-img{
  display: inline-block;
  padding: 2em;
  width: 50%;
  border-radius: 5px;
}
.content-wrap a{
  color: #e3c378;
}
/*nav style*/
nav{ /*always on top of the screen*/
  position: fixed;
  top: 0;
  left: 0;
}
nav div{
  display: none;
}
nav ul{
    position: relative;
    list-style: none;
}

nav ul li{
    display:  inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.navbtn{
    text-decoration: none;
    color:white;
    font-family: superstarX;
    font-size: 23px;
    padding: 7px 13px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 1000;
}
.navbtn:active,.navbtn:hover{
    background: #565654;
    color: #e3c378;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*section 1 (baseline)*/
#baseline{
  padding: 2em 1em 1em;
}
#baseline ul{
  list-style: none;
  margin:0;
  margin-top: 100px;
  padding: 0;
}
#baseline li{
  margin-bottom: 1em;
}
#efreilogo{
  display: inline-block;
  width: 28%;
  margin: auto;
}
#mainlogo{
  display: inline-block;
  width: 48%;
  margin-left: auto;
  margin-right: auto;
}
.card-content{
  padding: 1.5em;
}
/*section 2*/


/*section 3*/


/*section-c*/

/*section-d*/
#ctactn{
  display: inline-block;
  width: 80%;
}
.ctim{
  display: inline-block;
  width: 15%;
  padding: 1em;
}
/*footer*/

footer a{
  color:#e3c378;
}
/*responsiveness (media queries)*/

@media (min-width: 1900px){
  .ctim{ 
    width: 7%;
  }
  p{
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media (min-width: 1500px){
  p{
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 960px){
    nav ul li a{
      font-size: 16px;
    }
    #mainlogo{
      display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    #efreilogo{
      width: 40%;
    }
    .ctim{
      width: 18%;
    }
    .content-img{
      width: 85%;
    }
}
@media (max-width: 800px){
    .checkbtn{
      display: inline-block;
      margin-left: 20px;
    }
    #mainlogo{
      display: block;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .content-img{
      width: 100%;
    }
    #efreilogo{
      width: 65%;
    }
    .ctim{
      width: 25%;
    }
    .content-wrap p{
      margin-left: 5%;
      margin-right: 5%;
    }
    nav div{
      display:block;
      float: right;
      right: 2%; 
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #30302f;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .navbtn{
      font-size: 20px;
  }
    .navbtn:hover,.navbtn.active{
      background: #565654;
      color: #e3c378;
    }
    #check:checked ~ ul{
      left: 0;
    }
}
